	
$light: #EAEAE9;
$dark: #4169E1;
$secondary: #92e6ff;

$info: #d69732;
$infoDark: #b8822b;

$danger: #f44336;
$dangerDark: #ce392f;

$success: #469553;
$successDark:  #336e3d;

$disabled:  #8d8d8d;
