.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}

.form label {
    font-size: 18px;
    color: #fff;
}

.msg {
    color: #fff;
    font-size: 16px;
}

.resgiter-link {
    font-size: 14px;
    color: #fff;
    margin: 20px 0;
}

